---
layout: default
---

<article>
  {% include meta.html post=page %}

  {% if page.tags.size > 0 %}
  <div class="post-tags-header">
    {% for tag in page.tags %}
    {% comment %} 先计算出 slug 化的 ID，避免 Liquid 嵌套报错 {% endcomment %}
    {% assign tag_id = tag | slugify %}
    <a href="{{ '/tags/#' | append: tag_id | relative_url }}" class="post-header-tag">
      🔖 {{ tag }}
    </a>
    {% endfor %}
  </div>
  {% endif %}

  {{ content }}

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
  <hr>
  {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
  {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
  <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>